* {
  margin: 0;
  padding: 0;
  background-color: #222;
}

.start .one {
  margin: 0px 0px 0px 1260px;
}
.start .one a img {
  margin: 10px 0px 0px;
}
.start .one a {
  border: none;
}
.start .one a p {
  color: white;
  margin: -20px 0px 0px 25px;
  position: absolute;
}
.start .two img {
  margin: 10px 0px 0px 220px;
  border-radius: 5px;
}
.start .two input::-webkit-input-placeholder {
  color: white;
  font-family: "Roboto", sans-serif;
}
.start .two input::-moz-placeholder {
  color: white;
  font-family: "Roboto", sans-serif;
}
.start .two input:-ms-input-placeholder {
  color: white;
  font-family: "Roboto", sans-serif;
}
.start .two input::-ms-input-placeholder {
  color: white;
  font-family: "Roboto", sans-serif;
}
.start .two input::placeholder {
  color: white;
  font-family: "Roboto", sans-serif;
}
.start .two input {
  margin: 90px 0px 0px -300px;
  position: absolute;
  color: white;
  padding: 4px 5px;
  border: none;
  width: 195px;
  font-size: 12px;
  background-color: #007cba;
  border-radius: 5px;
  -webkit-box-shadow: 4px 5px 12px black;
          box-shadow: 4px 5px 12px black;
  outline: none;
}
.start .two .block {
  position: absolute;
  background-color: #007cba;
  border-radius: 5px;
  padding: 5px 5px;
  width: 25px;
  height: 20px;
  -webkit-box-shadow: 4px 5px 12px black;
          box-shadow: 4px 5px 12px black;
  margin: -48px 0px 0px 1240px;
}
.start .two .block .triangle {
  width: 0;
  height: 0;
  background-color: transparent;
  border-left: 20px solid white;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-radius: 5px;
  margin-left: 3px;
}

.ul {
  margin: 10px 0px 0px 220px;
}
.ul li {
  background-color: #999;
  display: inline-block;
  padding: 5px 10px 5px 10px;
  margin: 0px 0px 0px 0px;
  font-size: 95%;
  width: 98.5px;
  border-radius: 2px;
  font-family: "Roboto", sans-serif;
}

.main .first img {
  margin: 10px 0px 0px 220px;
  border-radius: 5px;
  width: 120px;
}
.main .first .one {
  color: white;
  font-size: 19px;
  margin: 15px 0px 0px 220px;
  font-family: "Roboto", sans-serif;
}
.main .first .two {
  color: white;
  font-size: 14px;
  margin: 10px 0px 0px 220px;
  font-family: "Roboto", sans-serif;
  width: 1100px;
}
.main .first .three {
  color: white;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  margin: 20px 0px 0px 220px;
  font-weight: bold;
}
.main .second {
  border-radius: 5px;
  border: 2px solid #016597;
  background-color: #383838;
  margin: 10px 0px 0px 220px;
  width: 1090px;
}
.main .second .one p {
  color: white;
  background-color: #383838;
  padding: 5px;
  font-size: 19px;
  font-family: "Roboto", sans-serif;
}
.main .second .two .start {
  background-color: #383838;
  font-family: "Roboto", sans-serif;
  color: white;
  padding: 10px 0px 10px 10px;
  font-size: 13px;
}
.main .second .two .coments {
  text-decoration: none;
  position: absolute;
}
.main .second .two .coments p {
  background-color: #383838;
  font-family: "Roboto", sans-serif;
  color: #016597;
  margin: -49px 0px 10px 950px;
  font-size: 19px;
}
.main .second .two .main {
  background-color: #383838;
}
.main .second .two .main p {
  padding: 0px 0px 10px 10px;
  font-size: 15px;
  width: 1060px;
  background-color: #383838;
  font-family: "Roboto", sans-serif;
  color: white;
}
.main .second .two .a {
  text-decoration: none;
}
.main .second .two .a p {
  background-color: #383838;
  font-family: "Roboto", sans-serif;
  color: #016597;
  padding: 0px 0px 10px 10px;
  font-size: 15px;
}
.main .second .three p {
  color: #016597;
  font-family: "Roboto", sans-serif;
  background-color: #383838;
  padding: 5px;
  font-size: 15px;
}
.main .third {
  border-radius: 5px;
  border: 2px solid #016597;
  background-color: #383838;
  margin: 20px 0px 0px 220px;
  width: 1090px;
}
.main .third .one p {
  padding: 5px;
  font-size: 19px;
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: #383838;
}
.main .third .two .name {
  padding: 10px 0px 10px 10px;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: #383838;
}
.main .third .two .a1 {
  text-decoration: none;
  position: absolute;
}
.main .third .two .a1 p {
  background-color: #383838;
  font-family: "Roboto", sans-serif;
  color: #016597;
  margin: -49px 0px 10px 950px;
  font-size: 19px;
}
.main .third .two .p1 {
  text-align: center;
  font-size: 19px;
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: #383838;
}
.main .third .two .p2 {
  background-color: #383838;
}
.main .third .two .p2 p {
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: #383838;
  padding: 10px 0px 0px 10px;
  width: 1060px;
  font-size: 15px;
}
.main .third .two .p3 {
  background-color: #383838;
}
.main .third .two .p3 p {
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: #383838;
  font-size: 15px;
  width: 1060px;
  padding: 40px 0px 0px 10px;
}
.main .third .two .p4 {
  background-color: #383838;
}
.main .third .two .p4 p {
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: #383838;
  font-size: 15px;
  width: 1060px;
  padding: 10px 0px 0px 10px;
}
.main .third .two .p5 {
  background-color: #383838;
}
.main .third .two .p5 p {
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: #383838;
  font-size: 15px;
  width: 1060px;
  padding: 10px 0px 0px 10px;
}
.main .third .two .p6 {
  background-color: #383838;
}
.main .third .two .p6 p {
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: #383838;
  font-size: 15px;
  width: 1060px;
  padding: 10px 0px 0px 10px;
}
.main .third .two .p7 {
  background-color: #383838;
}
.main .third .two .p7 p {
  font-family: "Roboto", sans-serif;
  color: #016597;
  background-color: #383838;
  font-size: 15px;
  width: 1060px;
  padding: 10px 0px 10px 10px;
}
.main .third .three p {
  background-color: #383838;
  padding: 5px;
}
.main .third .three p .a1 {
  text-decoration: none;
  color: #016597;
  background-color: #383838;
}
.main .third .three p .a2 {
  text-decoration: none;
  color: #016597;
  background-color: #383838;
}

.end {
  background-color: #383838;
  margin: 40px 0px 0px 200px;
  border: 1px solid #016597;
  width: 1150px;
  border-radius: 5px;
}
.end p {
  font-family: "Roboto", sans-serif;
  background-color: #383838;
  font-size: 15px;
  color: white;
  text-align: center;
  padding: 20px;
}
.end p a {
  color: #016597;
  text-decoration: none;
  background-color: #383838;
}

.end_ul {
  margin: 20px 0px 0px 320px;
  cursor: pointer;
}
.end_ul li {
  display: inline;
  color: white;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  padding: 10px 20px 10px 20px;
  text-align: center;
  cursor: pointer;
}
.end_ul li:hover {
  background-color: #383838;
}